@import './color-variable.scss';

.register {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px auto;
    width: 65%;
}
.container {
    width: 40%;

    h3 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .subtext {
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        text-transform: lowercase;
        margin: 5px 0 15px 0;
    }

    .form {
        display: flex;
        flex-direction: column;    
        align-items: center;
        
        .field{
            width: 100%;
            position: relative;     
            height: 55px;
            input[type=text],
            input[type=email],
            input[type=password]{
                width: 100%;
                border: none;
                outline: none;
                padding: 10px 0 3px 5px;
                background-color: transparent;
                border-bottom: 2px solid $icon-light;
            }

            input[type=submit]{
                width: 100%;
                font-weight: 600;
                padding: 10px 0;
                margin-top: 5px;
                outline: none;
                background-color: transparent;
                border: 2px solid $icon-light;
                color: $icon-light;
                cursor: pointer;
            }

            .email {
                text-align: start;
                margin-top: 10px;
                padding: 0 5px;
                cursor: pointer;
                color: $icon-light;
            }

            .errors {
                text-align: start;
                padding: 5px;
                font-size: 12px;
            }

            .passwordIcon {
                position: absolute;
                bottom: 25px;
                right: 5px;
                font-size: 18px;
                color: $icon-light;
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 700px) { 
    .register {
        width: 80%;

        .container {
            width: 50%;
        }
    }
}

@media (max-width: 400px) { 
    .register {
        width: 90%;

        .container {
            width: 90%;
        }
    }
}