//Background color
$base-color-dark: #370617;
$base-color-darker: #250410;

//Icons
$icon-dark: #E85D04;
$icon-light: #FFBA08;
$icon-active: #DC2F02;
$icon-inactive: #FFBA08;
$text-color-dark: #03071E;

//Colors basics
$color-white: #FFFFFF;