//Background color
$base-color-dark: #1D1C1C;
$base-color-darker: #250410;

//Icons
$icon-dark: #41C485;
$icon-light: #F38404;
$icon-active: #DC2F02;
$icon-inactive: #FFBA08;
$text-color: #59DEFA;

//Colors basics
$color-white: #FFFFFF;