@import './color-variable.scss';

.submenu {
    position: fixed;
    top: 3.8rem;
    left: 0;
    width: 100%;
    min-height: 30px;
    background-color: $icon-light;
    display: flex;
    align-items: center;
    justify-content: center;

    .settings {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
            cursor: pointer;
            font-weight: 600;
        }
    }
}