@import './color-variable.scss';

.footer {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    width: 40%;

    .options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px 10px;
        margin: auto;

        .item {
            width: 33%;
            text-align: center;
            font-size: 15;
            font-weight: 600;
            letter-spacing: 0.5px;
            cursor: pointer;
        }
    }
}

.icon {
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: $icon-light;
    cursor: pointer;
}


@media (max-width: 880px) { 
    .footer {
        width: 70%;
        bottom: 10px;
        .options {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .item {
                width: 100%;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: none;
                }
            }
        }
    }
}