@import './color-variables.scss';

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem 1.5rem 0;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid white;

    .settings {
        display: flex;
        color: $color-white;

        .login {
            font-size: 26px;
        }

        .icon {
            font-size: 22px;
            margin-left: 20px;
        }

        .login, .icon {
            cursor: pointer;
        }
    }
}

@media (max-width: 368px) { 
    .home {
        padding: 1rem 1rem 1rem 0;
    }
}