.layout {
    position: relative;
    width: 100%;
    min-height: 100vh;

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 600px;
        background-color: white;
    }
}

.reservations {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}
