@import './color-variable.scss';

.mine {
    margin-top: 20px;
    width: 100%;

    .title{
        font-size: 12px;
        letter-spacing: .5px;
        margin-bottom: 5px;
    }

    .form{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 100%;

        .field {           
            width: 70%;

            .error {
                position: absolute;
                font-size: 12px;
                bottom: 0;
                left: 0;
            }

            input[type=text]{
                height: 35px;
                color: $icon-dark;
                width: 100%;
                border: none;
                outline: none;
                padding: 5px;
                background-color: transparent;
                border: 2px solid $icon-light;
            }
        }

        input[type=submit]{
            width: 29%;
            height: 35px;
            font-weight: 600;
            padding: 5px 0;
            outline: none;
            background-color: transparent;
            border: 2px solid $icon-light;
            color: $icon-light;
            cursor: pointer;
        }
       
    }
}